
@font-face {font-family: "iconfont";
  src:
  url('iconfont.ttf') format('truetype'), 
  url('iconfont.woff') format('woff');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-account:before { content: "\e6b8"; }

.icon-iconfontticket:before { content: "\e653"; }

.icon-gift:before { content: "\e699"; }

.icon-tingchechang:before { content: "\e66b"; }

.icon-ai221:before { content: "\e6d1"; }

.icon-buoumaotubiao23:before { content: "\e615"; }

.icon-phone:before { content: "\e6c2"; }

.icon-icon_sunglasses:before { content: "\e90b"; }

.icon-Chair:before { content: "\e62d"; }

.icon-bus:before { content: "\e6db"; }

